.about-section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  opacity: 1;
  height: auto;
  width: var(--cWidth);
  margin: auto;
  z-index: 20;
  padding: 200px 0;
}

.about-me {
  width: 100%;
  max-width: 800px;
}

.about-me h3 {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 500;
  color: var(--accentColor);
  margin-bottom: 20px;
}

.about-me p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.7;
  letter-spacing: 0.01em;
  color: #e5e7eb;
  margin-bottom: 20px;
}

@media only screen and (min-width: 1025px) {
  .about-section {
    height: 100vh;
    justify-content: flex-end;
    padding: 0;
  }
  
  .about-me {
    width: 45%;
    margin-right: 8%;
    max-width: 800px;
  }

  .about-me p {
    font-size: 1.25vw;
    line-height: 1.7;
    margin-bottom: 25px;
  }
}

@media only screen and (max-width: 768px) {
  .about-me p {
    font-size: 16px;
    margin-bottom: 15px;
  }
}
